version: "3.9"

services:
  prometheus:
    image: {{ observability_prometheus_image }}
    container_name: {{ kong_name_prefix }}-prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
    ports:
      - "{{ observability_prometheus_bind_host }}:{{ observability_prometheus_port }}:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./prometheus/rules:/etc/prometheus/rules:ro
      - prometheus-data:/prometheus
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped

  grafana:
    image: {{ observability_grafana_image }}
    container_name: {{ kong_name_prefix }}-grafana
    env_file:
      - ./grafana.env
    environment:
      GF_USERS_ALLOW_SIGN_UP: "false"
    ports:
      - "{{ observability_grafana_bind_host }}:{{ observability_grafana_port }}:3000"
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
      - ./grafana/dashboards:/etc/grafana/dashboards:ro
      - grafana-data:/var/lib/grafana
    depends_on:
      - prometheus
    restart: unless-stopped

volumes:
  prometheus-data:
  grafana-data:
