apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: {{ minikube_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
        - name: grafana
          image: {{ observability_grafana_image }}
          env:
            - name: GF_SECURITY_ADMIN_USER
              value: "{{ observability_grafana_admin_user }}"
            - name: GF_SECURITY_ADMIN_PASSWORD
              value: "{{ observability_grafana_admin_password }}"
            - name: GF_USERS_ALLOW_SIGN_UP
              value: "false"
          ports:
            - containerPort: 3000
              name: http
          readinessProbe:
            httpGet:
              path: /api/health
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /api/health
              port: http
            initialDelaySeconds: 20
            periodSeconds: 15
          resources:
            requests:
              cpu: {{ minikube_grafana_cpu_request }}
              memory: {{ minikube_grafana_memory_request }}
            limits:
              cpu: {{ minikube_grafana_cpu_limit }}
              memory: {{ minikube_grafana_memory_limit }}
          volumeMounts:
            - name: grafana-datasource
              mountPath: /etc/grafana/provisioning/datasources
              readOnly: true
            - name: grafana-dashboard-provider
              mountPath: /etc/grafana/provisioning/dashboards
              readOnly: true
            - name: grafana-dashboard-json
              mountPath: /etc/grafana/dashboards
              readOnly: true
            - name: grafana-storage
              mountPath: /var/lib/grafana
      volumes:
        - name: grafana-datasource
          configMap:
            name: grafana-datasource
        - name: grafana-dashboard-provider
          configMap:
            name: grafana-dashboard-provider
        - name: grafana-dashboard-json
          configMap:
            name: grafana-dashboard-kong-official
        - name: grafana-storage
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: {{ minikube_namespace }}
spec:
  type: NodePort
  selector:
    app: grafana
  ports:
    - name: http
      port: 3000
      targetPort: http
      nodePort: {{ minikube_grafana_nodeport }}
